<form>


  Animal<br>
    <input type="text"  value="animal" name="animal" ng-model="userInput.animal">  <br>

    Adjective<br>
    <input type="text" name="adjective" ng-model="userInput.adjective1"><br>

    Vegetable<br>
    <input type="text" name="vegetable" ng-model="userInput.vegetable"><br>
    Another Adjective<br>
    <input type="text" name="adjective1" ng-model="userInput.adjective2"><br>
    Exclamation <br>
    <input type="text" name="exclamation" ng-model="userInput.exclamation"><br>
    Noun <br>
    <input type="text" name="noun" ng-model="userInput.noun1">  <br>
    Noun <br>
    <input type="text" name="noun1" ng-model="userInput.noun2"><br>
    Adjective<br>
    <input type="text" name="adjective1" ng-model="userInput.adjective3">  <br>
     Color <br>
    <input type="text" name="color" ng-model="userInput.color"><br>
    <button type="button" ng-click="input(userInput)">Click to See Results.</button>
  </form>
